body {
    font-family: 'Work Sans', sans-serif;
  }
  html {
    font-size: 62.5%;
    @include respond(big-screen){
        font-size: 75%;
    }
    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;
    }
    
  }
ul {
    list-style: none;
}
  