.container {
    width:75vw;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    
    @include respond(tab-land){
        width:85vw;
    }
    @include respond(tab-port){
        width:95vw;
    }
    @include respond(phone){
        width:100vw;
    }
  }
 