.navbar {
    position: relative;
    z-index:99999;
    .nav_btn {
        width:3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        span {
            height: 0.25rem;
            background-color: #333;
            margin-bottom: 0.5rem;
            width: 100%;
            &:nth-child(2){
                width:70%;
                transition: width 0.5s ease;
            }
        }
    }
    &:hover .nav_btn span:nth-child(2) {
        width:100%;
    }
    &:hover {
        cursor: pointer;
    }
    .list_wrapper {
        width:20rem;
        height: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top:3rem;
        transition: height 0.5s ease-in-out;
        box-shadow: 0 12px 18px -6px rgba(0,0,0,0.3);
    }
    .list {
        padding: 0;
        margin: 0;
        background-color: #f6f6f6;
    }
    .link {
        display: block;
        text-decoration: none;
        padding: 2.5rem 0 2.5rem 1rem;
        transition: padding 0.5s ease;
        color: #222;
        border-bottom: 1px solid #e3e3e3;
        &:hover {
            background-color: #eee;
            padding-left: 2rem;
        }
    }
    .top_arrow {
        display: none;
        position: absolute;
        right: 0.1rem;
        top: 1rem;
        z-index: 999999;
        border: 1rem solid;
        border-color: transparent transparent #f4f1f1 transparent;
    }
}